@import 'src/colors.scss';
.movies {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    background-color: $solid;
    gap: 0.8em;
    padding: 1em;
    .movie {
        padding: 0.5em;
        border-radius: 0.8em;
        background-color: $light;
        transition: 0.8s all;
        cursor: pointer;
        &:hover {
            background-color: $dark;
        }
        img {
            width: 100%;
        }
    }
}